<?xml version="1.0" encoding="utf-8"?>
<!-- Source: https://docs.microsoft.com/en-us/nuget/consume-packages/package-source-mapping -->
<!-- Define the package sources, nuget.org and any other. -->
<!-- `clear` ensures no additional sources are inherited from another config file. -->
<configuration>
    <packageSources>
    <clear />
    <!-- `key` can be any identifier for your source. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <!-- Define mappings by adding package patterns beneath the target source. -->
    <!-- Contoso.* packages and NuGet.Common will be restored from contoso.com, everything else from nuget.org. -->
    <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
        <package pattern="*" />
    </packageSource>
    <!-- <packageSource key="contoso.com">
        <package pattern="Contoso.*" />
        <package pattern="NuGet.Common" />
    </packageSource> -->
    </packageSourceMapping>
</configuration>